body{
    margin: 100px;
}
#login-area{
    display: block;
}
#transactionArea{
    display: none;
}
.login-form {
    padding: 35px 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 22px #00000038;
    margin-top: 45px;
}

.login-form input {
    margin-bottom: 15px;
}

.status {
    background: #6a5acd;
    padding: 14px;
    color: #ffff;
    border-radius: 10px;
    margin: 20px;
}

.status h5 {
    text-transform: capitalize;
    font-size: 24px;
}

.status p {
    font-size: 38px;
    font-weight: bold;
}

.withdraw {
    background: #ffa07a;
}

.balance {
    background: #ffa500;
}
#login-area h2 {
    text-shadow: 0px 0px 6px #000;
    color: #fff;
}
.submit-area {
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
    box-shadow: 5px 5px 15px #0000005c;
}

.submit-area h4 {
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
    text-shadow: 2px 2px 3px;
    margin-bottom: 25px;
}

.submit-area input {
    margin-bottom: 15px;
}